@charset "UTF-8";

/* Restante Das Midias */

/* Typical Devices Breakpoints

Pequenas Telas: 0px - 600px
Celular: 600px - 768px
Tablet: 600px - 992px
Desktop: 992px - 1200px 
Grandes Telas: Acima De 1200px
*/


@media print {

    * {
    font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../images/back-print.jpg); /* Desnecessario */
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main h1 {
        text-shadow: none;
        color: black;        
    }
    main::after {
        content: 'By Murilinho W.w';
        font-size: small;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../images/back-tablet.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }

    main {
        background-color: rgba(173, 216, 230, 0.76);
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../images/back-pc.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }

    main {
        background-color: rgba(192, 0, 192, 0.755);
    }
}


@media screen and (min-width: 1200px) { /* LARGE SCREENS */
    body {
        background-image: url(../images/back-tv.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }

    main {
        background-color: rgba(255, 255, 255, 0.665);
    }
}